@font-face {
    font-family: 'Champagne';
    src: url('../misc/Champagne.tff');
}

body, html, h1, h2, h3, h4, h5, h6, p, a, button { 
    /*overflow-x:hidden; */
    font-family: 'Champagne', serif;
    font-size: 120%;
}

body {
    
}

#lm-main {
    
}

.navbar-brand {
    font-size: 120%;
}

#lm-menu {
    position: fixed;
    top: 0;
    z-index: 50;
    width:100%;
}

#lm-nav-bar {
}

.navbar-header {
}

.nav >  li > a {
    padding: 10px 20px;
}

#background {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    background: url('../images/cloud_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: azure;
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#blur-mask {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}

#blur-column {
    position: absolute;
    top: 0;
    bottom: 0;
    background: url('../images/cloud_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#content-column {
    z-index: 10;
    color: white;
}

#lm-inspirations {
    margin: 250px 10px 200px 10px;
}

.section-img {
    display: block;
    margin: 0 auto;
}

#wrapper-inspirations {
    padding: 20px 40px;
}

#lm-programs {
    margin-top: 250px;
    margin-bottom: 250px;
}

#wrapper-programs {
    padding: 40px 60px;
}

#active-program {
    border: 2px solid white;
    border-radius: 8px;
}

#lm-meditations {
    margin-top: 250px;
    margin-bottom: 250px;
}

#wrapper-meditations {
    padding: 40px 60px;
}

.videos-image {
    max-width: 100%;
    width: 480px;
}

#lm-login {
    margin-top: 250px;
    margin-bottom: 250px;
}

.btn-group-vertical {
    margin-top: 20px;
}

#lm-invites {
    margin-top: 250px;
    margin-bottom: 250px;
}

#wrapper-invites {
    padding: 40px 60px;
}

input {
    border: 1px solid white;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

p {
    border: 2px solid white;
    border-radius: 8px;
}

.btn-default {
    border: 2px solid white;
    border-radius: 8px;
}

footer {
    opacity: .9;
    padding-top: 20px;
    z-index: 11;
}